<!DOCTYPE html>
<html>
<head>
  <title>TaskMaster</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <!-- Flash Messages -->
  <div class="container mx-auto px-4">
    <% flash.each do |type, message| %>
      <div class="mb-4 p-3 bg-green-200 text-green-800 rounded">
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= yield %> <!-- Page Content -->

  <turbo-frame id="sub_task_details" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center" style="display: none;">
    <div class="max-w-2xl w-full mx-auto">
      <div class="bg-white rounded-lg shadow-xl">
        <div class="p-6">
          <%# Content will be loaded here %>
        </div>
      </div>
    </div>
  </turbo-frame>

</body>
</html>
